<h1 id="tableLabel">Clinic List</h1>

<p *ngIf="!clinics"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="clinics">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let clinic of clinics">
      <td>{{ clinic.id }}</td>
      <td>{{ clinic.name }}</td>
      <td><button class="btn btn-primary" (click)="deleteClinic(clinic.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
